
<div id="<%= "#{dom_id(todo)}_container" %>" class="task">   


 <%= turbo_frame_tag dom_id(todo) do %>
  <div class="task-checkbox">
        <% if todo.complete? %>
            <%= button_to todo_path(todo, todo: { status: 'incomplete' }),class: "checked", method: :patch do %><% end %>
        <% else %>
            <%= button_to todo_path(todo, todo: { status: 'complete' }),class: "no_checked", method: :patch do %><% end %>
        <% end %>
    </div>
<% end %>

    <div class="task-content">
        <a href="/todos/<%= todo.id %>/edit">
          <label style="cursor: pointer" for="task3-title"><%= todo.title %></label>
          <p><%= todo.created_at %></p>
        </a>
    </div>

</div>