<%= form_with(model: @todo, id: "#{dom_id(@todo)}_form") do |form| %>

  <div class="adding-task">
      <%= form.text_area :title, class: "task-title", placeholder:"Task name here",  cols:"30", rows:"2"%>
      <%= form.rich_text_area :description, placeholder:"Description"  %>

      <div class="button-add-task">
        <input name="commit" type="submit" value="Update task" />
      </div>
  </div>

<% end %>

  <div class="inline-block ml-2">
    <%= button_to 'Destroy this todo', todo_path(@todo), method: :delete %>  
  </div>
    <%= link_to "Back to todos", todos_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>